@model MvcOnlineTicariOtomasyon.Models.Sınıflar.Kategori
@{
    ViewBag.Title = "Güncelle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}




@using (Html.BeginForm("Güncelle", "Kategoriler", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Kategori Güncelle</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
    @Html.HiddenFor(x=>x.KategoriId)
        <div class="card-body">
            <div class="form-group">
                <label for="inputName">Kategori Adı</label>
                @Html.TextBoxFor(x => x.KategoriAd, new { @class = "form-control" })
            </div>



            <div>
                <input class="btn btn-danger btn-block text-uppercase" type="file" name="KategoriGörsel" />

            </div>



        </div>

        <!-- /.card-body -->
    </div> <!-- /.card -->
    <div class="col-12">
        <button type="submit" class="btn btn-outline-success btn-block text-uppercase">Kategori Güncelle</button>
    </div>}





