
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}




<!DOCTYPE html>
<div class="card card-success">
    <div class="card-header">
        <h3 style="margin-left:500px" class="card-title">Personel-Departman Grafiği</h3>

    </div>
</div>
<html lang="en">

<head>




    <title>Result Visualization</title>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>



    <script>

        $(document).ready(function () {

            $.ajax({

                type: "POST",

                dataType: "json",

                contentType: "application/json",

                url: '@Url.Action("VisualizeDepartmanResult", "Grafikler")',

                success: function (result) {

                    google.charts.load('current', {

                        'packages': ['corechart']

                    });

                    google.charts.setOnLoadCallback(function () {

                        drawChart(result);

                    });

                }

            });

        });



        function drawChart(result) {

            var data = new google.visualization.DataTable();

            data.addColumn('string', 'Name');

            data.addColumn('number', 'Personel Sayısı');

            var dataArray = [];



            $.each(result, function (i, obj) {

                dataArray.push([obj.Depatman, obj.Sayi]);

            });

            data.addRows(dataArray);



            var columnChartOptions = {



                width: 1275,

                height: 700,

                bar: { groupWidth: "20%" },

            };



            var columnChart = new google.visualization.BarChart(document

                .getElementById('columnchart_div'));



            columnChart.draw(data, columnChartOptions);

        }

    </script>

</head>

<body>

    <div id="columnchart_div"></div>




</body>

</html>

