<div class="favourite-area">
    <a href="/KullanıcıFavori/FavoriListe/"><img src="~/Klasörler/webkullanıcı/img/core-img/heart.svg" S alt=""> <span>@ViewBag.f</span></a>
</div>
<!-- User Login Info -->
<!-- Cart Area -->

<div class="user-login-info">
    <a href="/KullanıcıSepetim/Index/"><img src="~/Klasörler/webkullanıcı/img/core-img/bag.svg"><span>@ViewBag.s</span></a>

</div>
