
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/KullanıcıLayout.cshtml";
}




    <!--
        CSS
        ============================================= -->
    <link rel="stylesheet" href="/Klasörler/web5/css/linearicons.css">
    <link rel="stylesheet" href="/Klasörler/web5/css/owl.carousel.css">
    <link rel="stylesheet" href="/Klasörler/web5/css/themify-icons.css">
    <link rel="stylesheet" href="/Klasörler/web5/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Klasörler/web5/css/nice-select.css">
    <link rel="stylesheet" href="/Klasörler/web5/css/nouislider.min.css">
    <link rel="stylesheet" href="/Klasörler/web5/css/bootstrap.css">
    <link rel="stylesheet" href="/Klasörler/web5/css/main.css">
<body>

    <!-- Start Header Area -->
    
    <!-- End Header Area -->
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Giriş Yap/Kayıt Ol</h1>
                    <nav class="d-flex align-items-center">

                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->
    <!--================Login Box Area =================-->
    <section class="login_box_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login_box_img">
                        <img class="img-fluid" src="/Klasörler/web5/img/login.jpg" alt="">
                        <div class="hover">
                            <h4>Aramıza yeni mi katıldın?</h4>
                            <p>Kayıt işlemini yaptıktan sonra giriş yapabilirsiniz</p>
                            <a class="primary-btn" href="/KullanıcıLogin/Register/">Kayıt Ol</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-6">
                    <div class="login_form_inner">
                        <h3>Giriş Yapınız</h3>
                        <br />
                        <br />
                        <br />
                        <form class="row login_form" method="post" >
                            <div class="col-md-12 form-group">
                                <input type="email" class="form-control" id="name" name="MüşteriMail" required="" placeholder="Mail..." >
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="password" class="form-control" id="name" name="MüşteriŞifre" placeholder="Şifre..." required="">
                            </div>

                            <div class="col-md-12 form-group">
                                <button type="submit" value="submit" class="primary-btn">Giriş Yap</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Login Box Area =================-->
    <!-- start footer Area -->
    
    <!-- End footer Area -->


</body>


